<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="container-fluid">
      <div class="row">

        <div class="col-xs-4 col-md-3 col-xl-2 sidebar">
          {% include sidebar.html %}
        </div>

        <div class="col-xs-8 col-xs-offset-4 col-md-9 col-md-offset-3 col-xl-10 col-xl-offset-2 main">
          
          <div class="jumbotron jumbotron-fluid">
            <div class="container">
              <h1 class="display-3">Under construction.</h1>
              <p class="lead">There's not much to see yet. But you're welcome to look around.</p>
            </div>
          </div>
          
          {{ content }}
        </div>
        
      </div>
    </div>

    {% include footer.html %}
    {% include foot.html %}

  </body>

</html>
